<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Peak λ</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    </div>
  </section>
</body>

</html>