
@import "minireset";
@import "theme.scss";

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  // TODO: background color?
  // background-color: rgba(208,30,142,0.5);
}

pre {
  padding: 1rem;
  border-radius: 20px;
}


img {
  max-width: $article-width;
}

.nolink {
  color: $text-color;
  text-decoration: none;
}



.container {
  display: flex;
  justify-content: center;
}

.content {
  background-color: random-color();

  flex: 1 1 auto;
  min-width: 50rem;
  max-width: 100rem;
  padding: 1.5rem 1.5rem;

  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: $scale * 40rem;
  overflow: auto;

}

.navbar__title {
  width: 60%;
}

.navbar__links {
  display: flex;
  justify-content: space-between;

  font-weight: 300;
}

.navbar__link {
  padding: 0 1rem;
}

.divider {
  padding: ($scale * 2rem) 0;
}

.page-title {
  // background-color: random-color();
  font-size: 2 * $font-size;
  padding: 0 3rem;
}

.page-title--code {
  font-family: 'Fira Code';
}

.page-title--center {
  text-align: center;
}

.page-subtitle {
  // TODO:
}

.post-link {
  // background-color: random-color();
  padding: 0 0 1rem;

  display: flex;
}

.post-link__date {
  padding: 0.5rem;

  font-size: $font-size * 0.75;
  font-weight: 200;
  text-align: center;
}

.post-link__title {
  // background-color: random-color();
  font-size: $font-size * 1.25;
}

.row-wrapper {
  display: flex;
  justify-content: center;
}

.article {
  background-color: random-color();
  flex: 1 1 auto;
  min-width: 10rem;
  width: $article-width;
  max-width: $article-width;
  height: auto;
  align-self: center;

  display: flex;
  flex-direction: column;

  // justify-content: center;

  font-size: 16pt;
  line-height: 1.5;
}

.article > p {
  padding: 1rem 0;
}