
body {
  font-family: 'Fira Sans', sans-serif;
}

pre {
  padding: 1rem;
  border-radius: 20px;
}

$article-width: 60rem;

img {
  max-width: $article-width;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 20pt;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  width: $article-width;

  font-size: 16pt;
  line-height: 1.5;
}